.reveal-fade {
    background: linear-gradient(#000, #FAE9D8);
    background-image: url("../../assets/images/texture.png"), linear-gradient(#000, #FAE9D8);
}

.reveal-container {
    height: 100vh;
}

.reveal-section-0, .reveal-section-1{
    .reveal-body {
        @media only screen and (min-width: 1100px) {
            width: 800px;
        }
    }
}

.reveal-body {
    width: 95vw;
    margin: auto;
    @media only screen and (min-width: 1100px) {
        width: 1000px;
    }
    p, .image-container {
        position: absolute;
        
    }

    p {
        top: 14vh;
        width: 50%;
        text-align: left;
        font-size: 6.5vw;
        z-index: 1;
        @media only screen and (min-width: 768px) {
            font-size: 2.8vw;
        }
        
    }
    .image-container {
        top: 40vh;
        position: relative;
    }
    img {
        //height: 300px;
        position: absolute;
        &:nth-child(1) {
            right: 0;
        }
        &:nth-child(2) {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
        }
        &:nth-child(3) {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
        }
    }

    .progress {
        width: 3px;
        height: 20px;
        background-color: #6C5C4C;

        position: absolute;
        bottom: 20vh;
    }

    
    // div {
    //     position: relative;
    // }

    // .p1 {
    //     position: absolute;
    //     top: 0;
    // }
}


