.reveal-fade {
    background: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(250,233,216,1) 100%);
    background-image: url("../../assets/images/texture.png"), linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(250,233,216,1) 100%);
    padding-bottom: 150px;
    position: relative;
    &:after {
        content: "";
        height: 100px;
        width: 100%;
        left: 0;
        position: absolute;
        top: 0;
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        @media only screen and (min-width: 768px) {
        height: 300px;
        }
    }
    &:before {
        content: "";
        margin-top: -100px;
        height: 100px;
        width: 100%;
        left: 0;
        position: absolute;
        top:0;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    }
}

.reveal-container {
    height: 100vh;
}

.reveal-section-0, .reveal-section-1, .reveal-section-2{
    .reveal-body {
        @media (min-width: 1100px) {
            width: 910px;
        }
        @media (min-width: 1500px) {
            width: 1400px;
        }
    }
}


.reveal-body {
    position: relative;
    
    margin: auto;
    @media  (min-width: 1100px) {
        width: 1000px;
    }
    @media  (min-width: 1500px) {
        width: 1500px;
    }
    .pClass, .image-container {
        position: absolute;
    }

    .pClass {
        top: 24vh;
        text-align: left;
        font-size: 6.5vw;
        z-index: 1;
        
        @media only screen and (min-width: 576px) {
            font-size: 4vw;
        }
        @media only screen and (min-width: 768px) {
            font-size: 3.25vw;
            top: 17vh;
        }
        @media only screen and (min-width: 992px) {
            font-size: 2.8vw;
        }
        
        &.color-tan {
            p {
                color: white;
            }
            .colored {
                color: #FFB56C;
            }
        }
        .colored {
            color: #9B4D00;
            //color: #FFB56C;
        }
        p {
            margin-bottom: 0;
        }
        
        
    }
    .image-container {
        top: 40vh;
        position: relative;
    }
    img {
        position: absolute;
        &:nth-child(1) {
            right: 0;
            @media only screen and (max-width: 767px) {
                width: 65vw;
                top: 0vh;
            }
            
        }
        &:nth-child(2) {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            top: 5rem;
            @media only screen and (max-width: 767px) {
                top: 15vh;
                left: -2.5vw;
            }
        }
        &:nth-child(3) {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
        }
        
    }

    .dollar-handle {
        font-size: 14px;
        @media only screen and (min-width: 768px) {
            font-size: 20px;
        }
        .dollars-up {
            font-size: 16px;
            @media only screen and (min-width: 768px) {
                font-size: 22px;
            } 
        }
    }

    .progress {
        width: 3px;
        height: 20px;
        background-color: #6C5C4C;
        position: absolute;
        top: 70vh;
        opacity: .7;
        @media only screen and (min-width: 768px) {
            left: 3rem;
        }
        @media only screen and (max-width: 767px) {
            top: 85vh;
            left: 0;
            margin: auto;
            right: 0;
            z-index: -1;
            height: 10px;
        }
        &.color-tan {
            background-color:#FAE9D8;
        }
    }
}


//flip
.reveal-section-1, .reveal-section-3 {
    .pClass {
        text-align: right;
        right: 0;
        .read-more-container {
            p {
                text-align: left;
            }
            
        }
    }

    img {
        &:nth-child(1) {
            right: 0;
            left: 0;
        }
    }

    .reveal-body  .progress {
        @media only screen and (min-width: 768px) {
            right: 3rem;
            left: inherit;
        }
    
    }
}



//content specific changes
.reveal-section-0 {
    .reveal-body img:nth-child(2) {
        @media only screen and (max-width: 767px) {
            left: -40vw;
        }
    }
    
}

.reveal-section-1 {
    .reveal-body img:nth-child(2) {
        @media only screen and (max-width: 767px) {
            right: -40vw;
        }
    }
}

.reveal-section-1 {
    z-index: 3;
    .reveal-body {
        img {
            &:nth-child(2) {
                @media only screen and (min-width: 767px) {
                    top: 15vh;
                }
            }
        }
    }
}

.reveal-section-3 {
    .reveal-body {
        .dollar-handle {
            @media only screen and (min-width: 768px) {
                display: inline-block;
                width: 340px;
            }
        }
    }
    .dollar-handle {
        @media only screen and (max-width: 767px) {
            width: 250px;
            display: inline-block;
        }
    }
}


//Modal Mobile Hack
.reveal-section {
    position: relative;
    display: block;
    &.reveal-section-0 {
        z-index: 4;
    }
    &.reveal-section-1 {
        z-index: 3;
    }
    &.reveal-section-2 {
        z-index: 2;
    }
    &.reveal-section-3 {
        z-index: 1;
    }
}





.read-more-container {
    font-size: 16px;
    line-height: 20px;
    padding-top: 1rem;
    button {
        color: #0C1014;
        padding: 0;
        margin: 0;
        line-height: normal;
        background-color: transparent;
        border: none;
        z-index: 99;
        position: relative;
        display: inline-block;
        pointer-events: all;
        outline: none;
        box-shadow: none;
        text-transform: uppercase;
        overflow: visible;
        font-size: 14px;
        @media only screen and (min-width: 768px) {
            font-size: 16px;
        }
        &:hover {
            cursor: pointer;
            img, svg  {
                transform: scale(1.2);
            }
        }
        img, svg {
            transition:all .3s;
            top: inherit !important;
            &.active {
                transform: rotate(90deg);
            }
            @media only screen and (max-width: 767px) {
                width: 15px;
            }
        }
    }
    p {
        max-height: 0;
        overflow: hidden;
        transition: all .4s ease-in-out;
        font-size: 1rem;
        line-height: 1.5rem;
        opacity: 0;
        color:#FAE9D8;
        padding: 1rem 1rem 3rem;
        margin: 1rem -2.5vw;
        @media only screen and (min-width: 768px) {
            width: 50vw;
            margin: 1rem auto;
        }
        &.active {
            max-height: 150vh;
            background-color: rgba(12,16,20, 1);
            opacity: .9;
            opacity: 1;
        }
        
    }
    svg {
        margin-bottom: -5px;
        margin-left: .25rem;
        @media (min-width: 768px) {
            margin-left: 1rem;
        }
    }
    .close-button {
        display: flex;
        width: 100%;
        color:#FAE9D8;
        margin-top: 1.5rem;
        .button-content {
            margin: auto;
        }
        img {
            position: relative;
            display: inline-block;
            max-width: 20px;
            max-height: 20px;
            top: 0;
            margin-bottom: -3px;
            left: inherit !important;
            right: inherit !important;
        }
    }
}

.color-tan {
    
    p {
        color:#FAE9D8;
    }
    button {
        color:white;
    }
    svg {
        path {
            fill: white;
        }     
    }
}

.pin-spacer {
    pointer-events: none;
    display: none;
}
