.reveal-fade {
    background: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(250,233,216,1) 100%);
    background-image: url("../../assets/images/texture.png"), linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(250,233,216,1) 100%);
    padding-bottom: 150px;
    position: relative;
    &:after {
        content: "";
        height: 100px;
        width: 100%;
        left: 0;
        position: absolute;
        top: 0;
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        @media only screen and (min-width: 768px) {
        height: 300px;
        }
    }
    &:before {
        content: "";
        margin-top: -100px;
        height: 100px;
        width: 100%;
        left: 0;
        position: absolute;
        top:0;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    }
}

.reveal-container {
    height: 100vh;
}

.reveal-section-0, .reveal-section-1, .reveal-section-2{
    .reveal-body {
        @media (min-width: 1100px) {
            width: 910px;
        }
        @media (min-width: 1500px) {
            width: 1400px;
        }
    }
}


.reveal-body {
    position: relative;
    
    margin: auto;
    @media  (min-width: 1100px) {
        width: 1000px;
    }
    @media  (min-width: 1500px) {
        width: 1500px;
    }
    .pClass, .image-container {
        position: absolute;
    }

    .pClass {
        top: 30vh;
        text-align: left;
        font-size: 6.5vw;
        z-index: 1;
        
        @media only screen and (min-width: 576px) {
            font-size: 4vw;
        }
        @media only screen and (min-width: 768px) {
            font-size: 3.25vw;
            top: 17vh;
        }
        @media only screen and (min-width: 992px) {
            font-size: 2.8vw;
        }
        
        &.color-tan {
            p {
                color: white;
            }
            .colored {
                color: #FFB56C;
            }
        }
        .colored {
            color: #9B4D00;
        }
        p {
            margin-bottom: 0;
        }
        
        
    }
    .image-container {
        top: 40vh;
        position: relative;
    }
    img {
        //height: 300px;
        position: absolute;
        &:nth-child(1) {
            right: 0;
            @media only screen and (max-width: 767px) {
                width: 65vw;
                top: 0vh;
            }
        }
        &:nth-child(2) {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            top: 5rem;
            @media only screen and (max-width: 767px) {
                top: 15vh;
                left: -2.5vw;
            }
        }
        &:nth-child(3) {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
        }
        
    }

    .dollar-handle {
        font-size: 14px;
        @media only screen and (min-width: 768px) {
            font-size: 20px;
        }
    }

    .progress {
        width: 3px;
        height: 20px;
        background-color: #6C5C4C;
        position: absolute;
        top: 70vh;
        opacity: .7;
        @media only screen and (min-width: 768px) {
            left: 3rem;
        }
        @media only screen and (max-width: 767px) {
            top: 85vh;
            left: 0;
            margin: auto;
            right: 0;
            z-index: -1;
            height: 10px;
        }
        &.color-tan {
            background-color:#FAE9D8;
        }
    }
}


//flip
.reveal-section-1, .reveal-section-3 {
    .pClass {
        text-align: right;
        right: 0;
        .read-more-container {
            p {
                text-align: left;
            }
            
        }
    }

    img {
        &:nth-child(1) {
            right: 0;
            left: 0;
        }
    }

    .reveal-body  .progress {
        @media only screen and (min-width: 768px) {
            right: 3rem;
            left: inherit;
        }
    
    }
}



//content specific changes
.reveal-section-0 {
    .reveal-body img:nth-child(2) {
        @media only screen and (max-width: 767px) {
            left: -40vw;
        }
    }
    
}

.reveal-section-1 {
    .reveal-body img:nth-child(2) {
        @media only screen and (max-width: 767px) {
            right: -40vw;
        }
    }
}

.reveal-section-1 {
    .reveal-body {
        img {
            &:nth-child(2) {
                @media only screen and (min-width: 767px) {
                    top: 15vh;
                }
            }
        }
    }
}

.reveal-section-3 {
    .reveal-body {
        .dollar-handle {
            @media only screen and (min-width: 768px) {
                display: inline-flex;
                width: 320px;
            }
        }
    }
    .dollar-handle {
        @media only screen and (max-width: 767px) {
            width: 200px;
            display: inline-block;
        }
    }
}