nav {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    
    .content-container {
        width: 95vw;
       display: flex; 
       transition: all .5s;
       padding: 1.5rem 0 1rem;
       @media only screen and (min-width: 768px) {
        padding: 3rem 0 1rem;
        width: 90vw;
       }
    }
    &.scrolled {
        transition: all .4s;
        .content-container {
            padding: 1rem 0 1rem;
        }
        @media only screen and (max-width: 768px) {
            //background: #000;
        }
    }
    button {
        background: #E91D2D;
        border: none;
        color: white;
        padding: 1em 2em;
        display: inline-block;
        margin-left: auto;
    }     
}
